#private-screen {
  animation: fadeIn 0.3s;
}
#private-title {
  font-size: 4vw;
  margin-top: 1%;
}
#private-description {
  font-size: 2.2vw;
  margin: 2% 0;
}
.private-log {
  font-size: 1.2vw;
  margin-bottom: 0.4%;
}
#log-out-btn {
  margin-top: 3%;
  font-size: 2vw;
  padding: 0.1% 2%;
  cursor: pointer;
}

@media (max-width: 1025px) {
  #private-title {
    font-size: 6vw;
    margin-top: 8%;
  }
  #private-description {
    font-size: 4vw;
    margin: 2% 0 3% 0;
  }
  .private-log {
    font-size: 2vw;
    margin-bottom: 1%;
  }
  #log-out-btn {
    font-size: 3.5vw;
  }
}

@media (max-width: 500px) {
  #private-title {
    font-size: 12vw;
  }
  #private-description {
    font-size: 8vw;
    margin: 3% 0 3% 0;
  }
  .private-log {
    font-size: 4vw;
    margin: 0 0 2% 4%;
    text-align: left;
  }
  #log-out-btn {
    margin-top: 8%;
    font-size: 9vw;
    padding: 1% 10%;
  }
}
