#private-header {
  height: 7.3vh;
  display: flex;
  justify-content: right;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.199);
}

#log-out-link {
  margin: 0 2% 0% 2%;
  width: 10%;
}
#log-out-btn {
  font-size: 1.5vw;
  padding: 2% 18%;
  background-color: rgba(128, 128, 128, 0.192);
  border: none;
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.123);
  cursor: pointer;
}

#private-header .fa-cog {
  font-size: 1.8vw;
  background-color: rgba(128, 128, 128, 0.192);
  border: 1px solid rgba(255, 255, 255, 0.123);
  padding: 0.1% 0.4%;
  cursor: pointer;
}
#account-settings {
  font-size: 1.5vw;
  margin: 0 0.3% 0 0;
}
#private-header-title {
  font-size: 2vw;
  margin-right: 15%;
}

@media (max-width: 1025px) {
  #private-header {
    height: 6vh;
  }

  #log-out-link {
    margin: 0 2% 0% 2%;
    width: 20%;
  }
  #log-out-btn {
    font-size: 3vw;
  }

  #private-header .fa-cog {
    font-size: 4vw;
    padding: 0.5% 0.9%;
  }
  #account-settings {
    font-size: 3vw;
    margin: 0 1% 0 0;
  }
  #private-header-title {
    font-size: 3vw;
    margin-right: 5%;
  }
}

@media (max-width: 500px) {
  #private-header {
    height: 9vh;
  }

  #log-out-link {
    margin: 0 0% 0% 2%;
    width: 30%;
  }
  #log-out-btn {
    font-size: 6vw;
    padding: 5% 10%;
  }

  #private-header .fa-cog {
    font-size: 8.9vw;
    padding: 0.5% 1%;
    margin-right: 3%;
  }
  #account-settings {
    display: none;
  }
  #private-header-title {
    font-size: 5vw;
    margin-right: 3%;
  }
}
