.form-div {
  animation: fadeIn 0.4s;
}
.form-title {
  font-size: 4vw;
  margin: 3% 0 2% 0;
}
#login-title,
#resetPass-title {
  margin-top: 6%;
}
#forgotPass-title {
  margin: 6% 0 4% 0;
}
.form {
  text-align: left;
  margin: auto;
  width: 35%;
}
.form-element {
  display: block;
}
.form-input {
  width: 100%;
  margin-bottom: 2.5%;
  font-family: "Poppins", sans-serif;
  border-radius: 1vw;
  font-size: 1.2vw;
  padding-left: 2%;
  height: 2.2vw;
  background-color: white;
  border: none;
}
.form-input:focus {
  outline: none;
}
.form-label {
  font-size: 2vw;
  margin-bottom: 1%;
}
.form-label span {
  font-size: 1.2vw;
}
.form-submit-btn {
  background-color: green;
  color: white;
  border: none;
  font-size: 2vw;
  padding: 1.5% 15%;
  border-radius: 50vw;
  margin: 4% 0 4% 5%;
  float: right;
  cursor: pointer;
}
.form-route-txt {
  font-size: 1.4vw;
  float: right;
}
.form-error,
.form-msg {
  color: rgba(255, 0, 0, 0.747);
  font-size: 1.1vw;
  margin-top: 5%;
}
.form-msg {
  color: green;
}
.form-route {
  color: rgb(95, 95, 224);
}
#forgot-pass-route {
  margin-top: 2%;
}

@media (max-width: 1025px) {
  .form-title {
    font-size: 7vw;
    margin: 10% 0 2% 0;
  }
  #login-title,
  #resetPass-title,
  #forgotPass-title {
    margin-top: 10%;
  }
  .form {
    width: 50%;
  }
  .form-input {
    margin-bottom: 5%;
    border-radius: 6vw;
    font-size: 1.7vw;
    height: 4vw;
  }

  .form-label {
    font-size: 3vw;
    margin-bottom: 1.5%;
  }
  .form-label span {
    font-size: 1.7vw;
  }
  .form-submit-btn {
    font-size: 3.5vw;
    border-radius: 50vw;
    margin: 4% 0 5% 5%;
  }
  .form-route-txt {
    font-size: 2.4vw;
  }
  .form-error,
  .form-msg {
    font-size: 2vw;
  }
  #forgot-pass-route {
    margin-top: 2%;
  }
  #resetPass-form button {
    padding: 1.5% 8%;
  }
}

@media (max-width: 500px) {
  .form-title {
    font-size: 12.1vw;
    margin: 10% 0 5% 0;
  }
  #login-title,
  #resetPass-title,
  #forgotPass-title {
    margin-top: 10%;
  }
  .form {
    width: 90%;
  }
  .form-input {
    font-size: 4vw;
    height: 10vw;
  }

  .form-label {
    font-size: 6vw;
  }
  .form-label span {
    font-size: 3.5vw;
  }
  .form-submit-btn {
    font-size: 6vw;
    margin: 4% 0 7% 5%;
    padding: 2.5% 10%;
  }
  .form-route-txt {
    font-size: 4.4vw;
  }
  .form-error,
  .form-msg {
    font-size: 3vw;
  }
  #forgot-pass-route {
    margin-top: 2%;
  }
  #resetPass-form button {
    padding: 2.5% 8%;
  }
}
